{% extends 'digital_property/dashboard_base.html'%}
{% block title %}Property List{% endblock %}
{% block content %}
  <div class="container_list_property_page">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row_one">
            <h1>property list</h1>
            <hr>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="row_two">
            <a href="">List of Residential(Apartment)</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row_two">
            <a href="">List of Residential(Villa)</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row_two">
            <a href="{% url 'property_list_house' %}">List of Residential(House)</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="row_three">
            <a href="">List of Commercial</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row_three">
            <a href="">List of Multiple-unity</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row_three">
            <a href="{% url 'property_list_land' %}">List of Land(plot)</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="row_four">
            <a href="">List of Short-term</a>
          </div>
        </div>
        <div class="col-md-4">
          <!-- <div class="row_four">
            <a href="">Multiple-unity</a>
          </div> -->
        </div>
        <div class="col-md-4">
          <!-- <div class="row_four">
            <a href="">Land(plot)</a>
          </div> -->
        </div>
      </div>





    </div>
  </div>
{% endblock %}
